<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Trang chủ</a></li>
                <li><a href="{% url 'categories' %}">Tất cả danh mục</a></li>
                <li><a href="{% url 'brands' %}">Thương hiệu</a></li>
                <li><a href="{% url 'cong_trinh_toan_dien' %}">Công trình toàn diện</a></li>
                <li><a href="{% url 'giai_phap_am_thanh' %}">Giải pháp âm thanh</a></li>
                <li><a href="{% url 've_chung_toi' %}">Về chúng tôi</a></li>

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>