<div class="col-md-6">
    <div class="header-search">
        <form style="display: flex;" method="post" action="{% url 'search' %}" >
            {% csrf_token %}
            <select class="input-select" name="category_id" style="width: 100px;">
                <option value="0">Tất cả danh mục</option>
                {% for category in global_categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input class="input" placeholder="Tìm kiếm ở đây" name="keysearch">
            <button class="search-btn">Tìm</button>
        </form>
    </div>
</div>